.navbar {
  background-color: var(--color-principal);

  .navbar-brand {
    color: var(--color-blanco);
    font-weight: bold;
  }

  .nav-link {
    color: var(--color-blanco);
    transition: color $transition;

    &:hover {
      color: var(--color-secundario);
    }
  }
}
